<h1>Editing Friend</h1>
<br/>
<%= render 'form', friend: @friend %>

<%= link_to 'Show', @friend, class:'btn btn-info' %> 
<%= link_to 'delete', @friend, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-info' %>
<%= link_to 'Back', friends_path, class:'btn btn-info' %>
